<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
        <h2 class="about-me appear-from-top">About Me</h2>
        <h3 class="appear-from-top">Greetings! I'm passionate about crafting digital experiences through the art of code. As a versatile developer, I thrive in both the realms of backend and frontend programming. Currently embarking on an exciting journey with my inaugural project powered by Node.js, this website serves as a testament to my evolving skills and dedication to the world of web development.</h3>
        <h2 class="tech-arsenal appear-from-top">Tech Arsenal</h2>
        <h3 class="appear-from-top">Proficient in a diverse range of languages and frameworks, I wield the power of Java, Python, React.js, and many others. Each line of code is an opportunity to innovate and create, and I'm here to turn those opportunities into impactful solutions. Let's code the future together.</h3>
        <img class="portrait appear-from-top" src="/img/img1.jpeg">
    </div>
   
    {{>footer}}
</body>
</html>