<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <meta charset="UTF-8">
     <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <h2 class="appear-from-top">Welcome to our weather platform! Using this site is as easy as pie. Simply enter the name of any city into the search bar and hit the "Search" button. In an instant, you'll receive the latest information on the upcoming weather for that day in the chosen city. Stay informed and plan your day effortlessly with our user-friendly weather service.<h2>
    </div>
    {{>footer}}
    
</body>
</html>